
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 110%;
        vertical-align: baseline;
        background: transparent;
    }

.about{
background-image: url('https://raw.githubusercontent.com/jgwould/my_portfoliopage/master/myportfolio_background.jpg'); 
width: 100%; 
height: 500px;
text-align: center;
background-size: cover;
display: block;
padding: 0px;
margin: 0 auto;

}

.name{
	font-family: Georgia;
	text-align: center;
	color: #943E0F;
	padding-top: 10%;
	font-size: 150%;

}

.info{
	color: #5F6031;
	padding: 0px;
}

.resume{
	color: #3D5A41;
}
.resume:hover{
	color: #719444;
}

.photo{
	max-width: 20%;
	max-height: 30%;
	float: right;
	padding-top: 100px;
	padding-right: 70px;
}

.portfolio{
	width: 100%; 
	height: 1000px;
	text-align: center;
	background-color: #3D5A41;
	background-size: cover;
	color: #8E8474;
	padding-top: 20px;
}

.contact{
	width: 100%;
	height: 500px;
	text-align: center;
	background-color: #8E8474;
	color: #3D5A41;
	padding-top: 20px;
}

.navbar{
	width: 100%;
	margin: 0;
	padding: 0;
	display: inline;
	display: block;
	border: 1px solid #555;
	overflow: hidden;
	position: fixed;
	top: 0;
	color: #206E4F;
	background-color: #8E8474;
	box-sizing: border-box;
	float: left;
}

.navbar li{
	list-style-type: none;
	padding: 8px;
	background-color: #8E8474;
	width: 100px;
	display: block;
	text-decoration: none;
	display: inline;
	float: left;
}

.navbar li:hover{
	color: #F5F5DC;
	background-color: #CBBB9B;
}
