
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 110%;
        background: transparent;

    }

p{
	margin: 0;
	padding: 0;
}
.about{
background-image: url('https://raw.githubusercontent.com/jgwould/my_portfoliopage/master/myportfolio_background.jpg'); 
width: 100%; 
height: 100%;
text-align: center;
background-size: cover;
display: block;
padding: 0px;
margin: 0 auto;
font-size: 120%;

}

.name{
	font-family: Georgia;
	text-align: center;
	color: #943E0F;
	padding-top: 10%;
	font-size: 150%;

}

.info{
	color: #5F6031;
	padding: 0px;
}

.resume{
	color: #3D5A41;
}
.resume:hover{
	color: #719444;
}

.photo{
	max-width: 20%;
	max-height: 30%;
	float: right;
	margin-top: 100px;
	margin-right: 70px;
	border-radius: 10px;
}

.portfolio{
	width: 100%; 
	height: 100%;
	text-align: center;
	background-color: #3D5A41;
	background-size: cover;
	color: #8E8474;
	font-size: 120%;
	padding-top: 40px;
	overflow: auto;
}

.contact{
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #8E8474;
	color: #3D5A41;
	padding-top: 40px;
	font-size: 120%;
	overflow: auto;


}

.navbar{
	width: 100%;
	margin: 0;
	padding: 0;
	display: inline;
	display: block;
	border: 1px #000000;
	box-shadow: 0px 0px 10px 0px grey;
	overflow: auto;
	position: fixed;
	top: 0;
	color: #206E4F;
	background-color: #8E8474;
	box-sizing: border-box;
	float: left;
	border: 2px #696969;
}

.navbar li{
	height: 40px;
	list-style-type: none;
	margin: : 8px;
	padding-top: 10px;
	padding-left: 12px;
	padding-right: 12px;
	background-color: #8E8474;
	display: block;
	text-decoration: none;
	display: inline;
	float: left;
	text-align: center;
	vertical-align: center;
	font-size: 90%;
	font-weight: bold;
}

.navbar li:hover{
	color: #F5F5DC;
	background-color: #CBBB9B;
	cursor: pointer; cursor: hand;
	border-radius: 10px;
}

a{
	text-decoration: inherit;
	color: inherit; 

}
.contact_form{
	height: 80%;
	width: 40%;
	float: left;
	background-color: silver;
	border: 1px solid black;
	font-size: 80%;
	border-radius: 10px;
	margin:40px 40px 40px 40px;
	overflow: auto;

}
#fname{
	border-bottom: 1px solid black; 
	padding: 10px;
	margin: 10px;
}
#lname{
	border-bottom: 1px solid black;
	padding: 10px;
	margin: 10px;
}
#email{
	border-bottom: 1px solid black;
	padding: 10px;
	margin: 10px;
}
#info{ 
	height: 40%;
	width: 80%;
	padding-top: 10px;
	text-align: center;
}

#submit{
	color: #626262;
	background-color: silver;
	border: 2px solid #626262;
	border-radius: 10px;
	height: 10%;
	width: 40%;
	margin-top: 5%;
}
#submit:hover{
	cursor: pointer; cursor: hand;
	background-color: #8E8474;
	color: black;
	border: 2px solid black;
	border-radius: 10px;
	font-weight: bold;

}

.find_me{
	height: 80%;
	width: 40%;
	border: 1px solid black;
	font-size: 80%;
	border-radius: 10px;
	margin:40px 40px 40px 40px;
	overflow: auto;
	float: right;
	background-color: silver;
}
.jg_prof{
	max-height: 50%;
	max-width: 50%;
	border-radius: 10px;
	margin-top: 40px;
	margin-bottom: 10px;
}
.social_media{
	color: black;
}

.social_media li{
	display: block;
	display: inline;
	max-height: 50%;
	max-width: 50%;
	margin: 10px;
	opacity: 0.67;
	padding-top: 100px;
}

.social_media li:hover{
	opacity: 1.0;
}

.footer{
	background-color: #206E4F;
	color: #8E8474;
	text-align: center;
	font-size: 50%;
	vertical-align: center;
	
}

.caption{
	font-size: 80%;
	margin-bottom: 40px;
	font-weight: bold;
	text-align: center;
}
.fillers{
	padding-top: 10px;
	display: inline-block;
	margin-bottom: 10px;


}

.filler_one{
	margin: 15px;
	border-radius: 10px;
}

.filler_two{
	margin: 15px;
	border-radius: 10px;
}
.filler_three{
	margin: 15px;
	border-radius: 10px;
}

.filler_four{
	margin: 15px;
	border-radius: 10px;
}

.filler_five{
	margin: 15px;	
	border-radius: 10px;
}

.filler_six{
	margin: 15px;
	border-radius: 10px;
}

/* not in love with the hover delay and scale

.filler_one:hover{
	transition-delay: .1s;
	transform: scale(1.05);
}

.filler_two:hover{
	transition-delay: .1s;
	transform: scale(1.05);
}

.filler_three:hover{
	transition-delay: .1s;
	transform: scale(1.05);
}

.filler_four:hover{
	transition-delay: .1s;
	transform: scale(1.05);
}

.filler_five:hover{
	transition-delay: .1s;
	transform: scale(1.05);
}

.filler_six:hover{
	transition-delay: .1s;
	transform: scale(1.05);
}

*/



