
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 110%;
        vertical-align: baseline;
        background: transparent;
    }

.about{
background-image: url('https://raw.githubusercontent.com/jgwould/my_portfoliopage/master/myportfolio_background.jpg'); 
width: 100%; 
height: 500px;
text-align: center;
background-size: cover;
display: block;
padding: 0px;
margin: 0 auto;
font-size: 120%;

}

.name{
	font-family: Georgia;
	text-align: center;
	color: #943E0F;
	padding-top: 10%;
	font-size: 150%;

}

.info{
	color: #5F6031;
	padding: 0px;
}

.resume{
	color: #3D5A41;
}
.resume:hover{
	color: #719444;
}

.photo{
	max-width: 20%;
	max-height: 30%;
	float: right;
	padding-top: 100px;
	padding-right: 70px;
}

.portfolio{
	width: 100%; 
	height: 1000px;
	text-align: center;
	background-color: #3D5A41;
	background-size: cover;
	color: #8E8474;
	padding-top: 40px;
	font-size: 120%;
}

.contact{
	width: 100%;
	height: 500px;
	text-align: center;
	background-color: #8E8474;
	color: #3D5A41;
	padding-top: 40px;
	font-size: 120%;

}

.navbar{
	width: 100%;
	margin: 0;
	padding: 0;
	display: inline;
	display: block;
	border: 1px #000000;
	box-shadow: 0px 0px 10px 0px grey;
	overflow: hidden;
	position: fixed;
	top: 0;
	color: #206E4F;
	background-color: #8E8474;
	box-sizing: border-box;
	float: left;
	border: 2px #696969;
}

.navbar li{
	list-style-type: none;
	padding: 8px;
	background-color: #8E8474;
	width: 100px;
	display: block;
	text-decoration: none;
	display: inline;
	float: left;
	text-align: center;
	vertical-align: center;
	font-size: 90%;
	font-style: bold;
}

.navbar li:hover{
	color: #F5F5DC;
	background-color: #CBBB9B;
}

a{
	text-decoration: inherit;
	color: inherit; 

}
.contact_form{
	height: 400px;
	width: 400px;
	float: left;
	background-color: silver;
	border: 1px solid black;
	font-size: 80%;
	border-radius: 10px;
	margin:40px 0px 0px 40px;

}
#fname{
	border-bottom: 1px solid black; 
	padding: 10px;
	margin: 10px;
}
#lname{
	border-bottom: 1px solid black;
	padding: 10px;
	margin: 10px;
}
#email{
	border-bottom: 1px solid black;
	padding: 10px;
	margin: 10px;
}
#info{
	border-bottom: 1px solid black; 
	padding: 10px;
	margin: 10px;
	

}




















